@model IEnumerable<AsegurarSA.Domain.Entities.Empleado>

@{
    ViewBag.Title = "List";
}

<h2>Empleados</h2>
<div class="10">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Fecha de nacimiento</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Nombre</td>
                <td>@e.Apellido</td>
                <td>@e.Telefono</td>
                <td>@e.FechaNacimiento</td>
                <td><a href="/Empleados/Create/@e.EmpleadoId"> <i class="glyphicon glyphicon-edit"/></a></td>    
            </tr>
        }
        </tbody>
      </table>
</div>
