@using System.Dynamic
@{
    ViewBag.Title = "Informe de Turnos";
}

<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-content nopadding">
             @using (Html.BeginForm("ObtenerTurnos", "Turno", FormMethod.Post, new {@class = "form-horizontal"}))
             {
                 <div class="form-group">
                     @Html.Label("Fecha Inicio", new {@class = "control-label"})
                     <div class="controls">
                         <input id="FechaInicio" name="FechaInicio" type="text" value='' class=" datepicker form-control input-sm" data-date-format="dd-mm-yyyy" data-date='' />                            
                     </div>
                 </div>

                 <div class="form-group">
                     @Html.Label("Fecha Fin", new {@class = "control-label"})
                     <div class="controls">
                         <input id="FechaTope" name="FechaTope" type="text" value='' class=" datepicker form-control input-sm" data-date-format="dd-mm-yyyy" data-date='' />                            
                     </div>
                 </div>
                  <div class="form-actions">
                        <button class="btn btn-primary btn-sm" type="submit">Generar</button>
                        <a href="/" class="text-danger">Cancelar</a>
                  </div>
             }
            </div> 
            </div>
        </div>
    </div>
<script>
    $(document).ready(function() {
        $('#sidebar .active').removeClass('active');
        $('#sidebar #turnos').addClass('active open');
        $('#sidebar #turnos #generarturnos').addClass('active');

        $('.datepicker').datepicker();
    });
</script>