<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\AsegurarSA.Domain\packages.config" />
  <repository path="..\src\AsegurarSA.WebUI.Tests\packages.config" />
  <repository path="..\src\AsegurarSA.WebUI\packages.config" />
  <repository path="..\src\WebApiAsegurarSA\packages.config" />
</repositories>