
@{
    ViewBag.Title = "Informe de horas trabajadas";
}

<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-content nopadding">
             @using (Html.BeginForm("InformeEmpleadosHoras", "Reportes", FormMethod.Post, new {@class = "form-horizontal"}))
             {
                 <div class="form-group">
                     @Html.Label("Fecha Inicio", new {@class = "control-label"})
                     <div class="controls">
                         <input id="fechaInicio" name="fechaInicio" type="text" value='' class=" datepicker form-control input-sm" data-date-format="dd-mm-yyyy" data-date='' />                            
                     </div>
                 </div>

                 <div class="form-group">
                     @Html.Label("Fecha Fin", new {@class = "control-label"})
                     <div class="controls">
                         <input id="fechaFin" name="fechaFin" type="text" value='' class=" datepicker form-control input-sm" data-date-format="dd-mm-yyyy" data-date='' />                            
                     </div>
                 </div>
                 
                 <div class="form-group">
                     @Html.Label("Empleados", new { @class = "control-label" })
                     <div class="controls">
                         @Html.DropDownList("empleado",ViewData["list"] as SelectList, new { @class = "form-control input-sm" })
                     </div>
                 </div>
                 
                 <div class="form-actions">
                     <button class="btn btn-primary btn-sm" type="submit">Generar</button>
                     <a href="/" class="text-danger">Cancelar</a>
                 </div>
             }
            </div> 
            </div>
        </div>
    </div>
<script>
    $(document).ready(function() {
        $('#sidebar .active').removeClass('active');
        $('#sidebar #reportes').addClass('active open');
        $('#sidebar #reportes #empleadoshoras').addClass('active');

        $('.datepicker').datepicker();
    });
</script>
