
@{
    ViewBag.Title = "Eventos";
}

<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-content nopadding">
             @using (Html.BeginForm("InformeEventos", "Reportes", FormMethod.Post, new {@class = "form-horizontal"}))
             {
                 <div class="form-group">
                     @Html.Label("Fecha Inicio", new {@class = "control-label"})
                     <div class="controls">
                         <input id="FechaInicio" name="FechaInicio" type="text" value='' class=" datepicker form-control input-sm" data-date-format="dd-mm-yyyy" data-date='' />                            
                     </div>
                 </div>

                 <div class="form-group">
                     @Html.Label("Fecha Fin", new {@class = "control-label"})
                     <div class="controls">
                         <input id="FechaFin" name="FechaFin" type="text" value='' class=" datepicker form-control input-sm" data-date-format="dd-mm-yyyy" data-date='' />                            
                     </div>
                 </div>
                 
                 <div class="form-actions">
                     <button id ="generar"class="btn btn-primary btn-sm" type="submit">Generar</button>
                     <a href="/" class="text-danger">Cancelar</a>
                 </div>
             }
            </div> 
            </div>
        </div>
    </div>
<script>
    $(document).ready(function() {
        $('#sidebar .active').removeClass('active');
        $('#sidebar #reportes').addClass('active open');
        $('#sidebar #reportes #eventos').addClass('active');

        $('.datepicker').datepicker();
    });

    $("#generar").click(
        function (e) {
            debugger;
            var Fi = $("#FechaInicio").val();
            var FF = $("#FechaFin").val();
            if ((Fi == "" || FF == "") || (Fi == "" && FF == ""))
            {
                alert("Por favor ingrese la/las fecha/s");
                e.preventDefault();
            } else {
                if (Fi > FF) {
                    alert("Por favor ingrese correctamente las fechas");
                    e.preventDefault();
                }
            }
        }
    );

</script>